.App .input{
    width: 100%;
    position: relative;
  margin:250px;
  vertical-align:middle;
    
}
*{
margin: 0;
padding: 0;
}
/* .root{
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-grow: 1;
  background-color: aqua;
} */